html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

body {
font-family: sans-serif;
font-size: 16px;
line-height: 1.1666666666;
background: #ff5c5c;
color: #88dade;
}

#canvas {
  border: 10px solid black;
  margin: 50px auto;
  display: block;
}

// yellow
// color: #fff952;
