html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

body {
font-family: sans-serif;
font-size: 16px;
line-height: 1.1666666666;
background: #ff5c5c;
color: #88dade;
}

.bottom {
  width: 1720px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 10px solid black;
  margin-top: -50px;
}

.waves {
  height: 190px;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  border-right: 10px solid black;
  border-left: 10px solid black;
}

.waves > input {
  font-size: 105px;
  vertical-align: top;
  text-align: center;
}

.waves > input:hover {
    color: #fff952; 
}

.sliders {
  border-right: 10px solid black;
  width: 1370px;
}

#canvas {
  border: 10px solid black;
  margin: 50px auto;
  display: block;
}
