input[type=range] {
  -webkit-appearance: none;
  width: 60%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 60%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 50px;
  width: 16px;
  border-radius: 20%;
  background: #ff5c5c;
  cursor: pointer;
  border: 2px solid black;
}

input[type=range]::-ms-thumb {
  height: 50;
  width: 16px;
  border-radius: 20%;
  background: #ff5c5c;
  cursor: pointer;
  border: 2px solid black;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 60%;
  height: 50px;
  cursor: pointer;
  background: #52489C;
  border-radius: 1.3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #52489C;
}

input[type=range]::-moz-range-track {
  width: 60%;
  height: 50px;
  cursor: pointer;
  background: #52489C;
  border-radius: 1.3px;
}

input[type=range]::-ms-track {
  width: 60%;
  height: 50px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #52489C;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #52489C;
}
input[type=range]::-ms-fill-upper {
  background: #52489C;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-upper {
  background: #52489C;
}
